
.home{
  height: 55rem;
  width: 80rem;
  display: flex;
  flex-direction: column;
  background-image: url(../Images/bgImg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 100%;
    }
    
    .logo{
      margin-top: 50px;
      height: 100px;
    
    }
    
    .start{
      margin-left: 440px
    }

    .align {
        padding: 1rem;
        gap: 5px;
      }

    .centerhome{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    height: 100px;
    margin-top: 50px;
    }
    
    .pokemonImg{
    filter: drop-shadow(16px 16px 10px black)
    }
    
    .image-clignote  {
        animation-duration: 1s;
        animation-name: clignoter;
        animation-iteration-count: infinite;
        transition: none;
     }
     @keyframes clignoter {
       0%   { opacity:1; }
       40%   {opacity:0; }
       100% { opacity:1; }
     }
    
    
     .card {
        width: 170px;
        height: 100px;
        padding: 0.2rem;
        background: rgba(198, 198, 198, 0.34);
        border-radius: 8px;
        backdrop-filter: blur(5px);
        position: absolute;
        border-bottom: 3px solid rgba(255, 255, 255, 0.440);
        border-left: 2px  rgba(255, 255, 255, 0.545) outset;
        box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.280);
        transform: skewX(0deg);
        transition: .4s;
        overflow: hidden;
        color: rgb(0, 0, 0);
      }
      
      .card:hover {
        height: 190px; 
        width: 260px;
        transform: skew(0deg);
      }
      
      
      
      .card h1 {
        text-align: center;
        margin: 1.3rem;
        color: rgb(0, 0, 0);
        text-shadow: -10px 5px 10px rgba(0, 0, 0, 0.573);
      }

      /* le block conteneur */
.textdefilant {
  max-width: auto; /* largeur de la fenêtre */
  /* margin: 1em auto 2em; */
  border: 8px solid #ffcb05;
  overflow: hidden; /* masque tout ce qui dépasse */
  box-shadow: 0 0.25em 0.5em #ccc, inset 0 0 1em 0.25em #ccc;
  margin-bottom: 1rem;
}

/* le bloc défilant */
.textdefilant > :first-child {
  display: inline-block; /* modèle de boîte en ligne */
  padding-right: 2em; /* un peu d'espace pour la transition */
  padding-left: 100%; /* placement à droite du conteneur */
  white-space: nowrap; /* pas de passage à la ligne */
  animation: defilement-rtl 80s infinite linear;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  /* color: #395faa */
  
}

@keyframes defilement-rtl {
  0% {
    transform: translate3d(0, 0, 0); /* position initiale à droite */
  }
  100% {
    transform: translate3d(-100%, 0, 0); /* position finale à gauche */
  }
}

.footer {
  margin-top: 330px;
  margin-right: 0px;
  margin-left: 200px
}