
.home{
    display: flex;
    flex-direction: column;
    }
    
    .logo{
        height: 100px;
    
    }
    
    .start{
        margin: auto;
    }

    .align {
        padding: 1rem;
        gap: 5px;
      }

    .centerhome{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    height: 100px;
    margin-top: 50px;
    }
    
    .pokemonImg{
    filter: drop-shadow(16px 16px 10px black)
    }
    
    .image-clignote  {
        animation-duration: 1s;
        animation-name: clignoter;
        animation-iteration-count: infinite;
        transition: none;
     }
     @keyframes clignoter {
       0%   { opacity:1; }
       40%   {opacity:0; }
       100% { opacity:1; }
     }
    
    
     .card {
        width: 170px;
        height: 100px;
        padding: 0.2rem;
        background: rgba(198, 198, 198, 0.34);
        border-radius: 8px;
        backdrop-filter: blur(5px);
        position: absolute;
        border-bottom: 3px solid rgba(255, 255, 255, 0.440);
        border-left: 2px  rgba(255, 255, 255, 0.545) outset;
        box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.280);
        transform: skewX(0deg);
        transition: .4s;
        overflow: hidden;
        color: rgb(0, 0, 0);
      }
      
      .card:hover {
        height: 190px; 
        width: 260px;
        transform: skew(0deg);
      }
      
      
      
      .card h1 {
        text-align: center;
        margin: 1.3rem;
        color: rgb(0, 0, 0);
        text-shadow: -10px 5px 10px rgba(0, 0, 0, 0.573);
      }